<!-- header -->

<!-- navbar -->

<!-- sidebar-chat -->




            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">

                    <!-- sidebar-menu -->


                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Box-Layout</h5>
                                            <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index.html"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Page Layout</a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Box-Layout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <!-- Page body start -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Default card start -->
                                            <div class="card">
                                                <div class="card-block">
                                                    <span>
                                                        Box-layout Menu layout is useful for those users who wants container or box-view of theme.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>JS Option</h5>
                                                </div>
                                                <div class="card-block">
                                                    <span>To use Compact Menu for your project add <code><strong>verticalMenulayout: 'box',</strong></code> class in js.</span>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>HTML Markup</h5>
                                                </div>
                                                <div class="card-block">
                                                    <p>Use the following code to use <strong>Box-Layout Menu</strong> .
                                                    </p>
                                                    <h6 class="m-t-20 f-w-600">Usage:</h6>
                                                    <pre>
                                                        <code class="language-markup">
                                                            $( document ).ready(function() {
                                                            $( "#pcoded" ).pcodedmenu({
                                                            verticalMenulayout: 'box',
                                                        });
                                                    });
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                    <!-- Default card end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page body end -->
            </div><!-- pcoded-content -->
        </div><!-- pcoded-wrapper -->




<!-- script -->

<!-- footer -->