.main-body .page-wrapper {
  padding: 0px;
}

.card .card-header {
  padding: 0px;
}

.card {
  padding: 20px;
}

.card .card-body {
  padding: 0px;
}

.myScroll {
  background-color: lightblue;
  height: 200px;
  width: 100%;
  overflow-y: scroll;
}

.table td,
.table th {
  padding: 2px;
}

tr.group,
tr.group:hover {
  background-color: #ddd !important;
}

@media print {
  .my_print {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}
